<nav class="nav-container">
    <input type="checkbox" id="menu-toggle">
    <label for="menu-toggle" class="hamburger">
        <span></span>
        <span></span>
        <span></span>
    </label>
    <ul class="nav-menu">
        <li class="nav-item">
            <a href="#" class="nav-link">Inicio</a>
        </li>
        <li class="nav-item">
            <a href="#" class="nav-link two-lines">
                <span>Acerca</span>
                <span>de</span>
            </a>
        </li>
        <li class="nav-item">
            <a href="#" class="nav-link">Equipo</a>
        </li>
        <li class="nav-item">
            <a href="#" class="nav-link two-lines">
                <span>Postular</span>
                <span>ahora</span>
            </a>
        </li>
        <li class="nav-item">
            <a href="#" class="nav-link two-lines">
                <span>Mundo</span>
                <span>académico</span>
            </a>
        </li>
        <li class="nav-item">
            <a href="#" class="nav-link">Contacto</a>
        </li>
        <li class="nav-item">
            <a href="#" class="nav-link">Actividades</a>
        </li>
        <li class="nav-item">
            <a href="#" class="nav-link">Admisiones</a>
        </li>
        <li class="nav-item">
            <a href="#" class="nav-link two-lines">
                <span>Preguntas</span>
                <span>frecuentes</span>
            </a>
        </li>
        <li class="nav-item dropdown">
            <a href="#" class="nav-link">More</a>
            <div class="dropdown-content more-submenu">
                <a href="#" class="dropdown-item">Reserva online</a>
                <a href="#" class="dropdown-item">Blog</a>
                <a href="#" class="dropdown-item">Planes y precios</a>
                <a href="#" class="dropdown-item">Foro</a>
                <a href="#" class="dropdown-item">Members</a>
            </div>
        </li>
    </ul>
</nav>