<footer class="footer">
    <div class="container">
        <div class="footer-grid">
            <div class="footer-brand">
                <div class="logo">
                    <img src="../../assets/icons/LogoZengaku.png" alt="ZENGAKU" class="logo-image" />
                    
                </div>
                <p>Academia líder en la enseñanza del idioma japonés</p>
            </div>
            <div class="footer-links">
                <h3>Enlaces Rápidos</h3>
                <ul>
                    <li><a href="#">Sobre Nosotros</a></li>
                    <li><a href="#">Cursos</a></li>
                    <li><a href="#">Horarios</a></li>
                </ul>
            </div>
            <div class="footer-contact">
                <h3>Contacto</h3>
                <ul>
                    <li>Email: info&#64;zengaku.com</li>
                    <li>Tel: (123) 456-7890</li>
                    <li>Dirección: Calle Principal #123</li>
                </ul>
            </div>
            <div class="footer-social">
                <h3>Síguenos</h3>
                <div class="social-links">
                    <a href="#">Facebook</a>
                    <a href="#">Instagram</a>
                    <a href="#">Twitter</a>
                </div>
            </div>
        </div>
        <div class="footer-bottom">
            <p>&copy; 2024 Zengaku. Todos los derechos reservados.</p>
        </div>
    </div>
</footer>